// Versioning
CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = 0.1.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

// Packaging
PRODUCT_NAME = iDine
PRODUCT_BUNDLE_IDENTIFIER = io.dehesa.swiftui.idine
INFOPLIST_FILE = $(PROJECT_DIR)/Configuration/macOS.plist
CODE_SIGN_ENTITLEMENTS = Configuration/macOS.entitlements
