// Versioning
CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = 0.1.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

// Packaging
PRODUCT_NAME = Pull to refresh
PRODUCT_BUNDLE_IDENTIFIER = io.dehesa.swiftui.scrollview.pull
INFOPLIST_FILE = $(PROJECT_DIR)/Configuration/Pull.plist

// Deployment
DEVELOPMENT_ASSET_PATHS = Assets
