// Swift
SWIFT_VERSION = 5.3

// Deployment
MACOSX_DEPLOYMENT_TARGET = 11.1
TVOS_DEPLOYMENT_TARGET = 14.4
IPHONEOS_DEPLOYMENT_TARGET = 14.4
WATCHOS_DEPLOYMENT_TARGET = 7.2

// Packaging
INFOPLIST_FILE = $(PROJECT_DIR)/Configuration/Common.plist

// Code Signing
CODE_SIGN_STYLE = Automatic
CODE_SIGN_ENTITLEMENTS = Configuration/Common.entitlements
